.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.photo-title{
  border: 1px solid black;
  width: 240px;
  height: 220px;
  background-color: orange;
  border-radius: 20px;
}

.text{
  width: 240px;
  height: 220px;
  background-color: orange;
}
img{
  width: 150px;
}
p{
  font-size: 30px;
}
span{
  font-size: 30px;
}